atomicwrites==1.4.0
attrs==20.3.0
bleach==3.3.0
bracex==2.2.1
build==0.3.0
bump2version==1.0.1
bumpversion==0.6.0
casbin==1.12.0
certifi==2020.12.5
chardet==4.0.0
click==7.1.2
colorama==0.4.4
coverage==5.4
docutils==0.16
fastapi==0.63.0
h11==0.12.0
idna==2.10
iniconfig==1.1.1
keyring==22.3.0
packaging==20.9
pep517==0.9.1
pip-tools==5.5.0
pkginfo==1.7.0
pluggy==0.13.1
py==1.10.0
pydantic==1.7.3
pygments==2.8.0
pyjwt==2.3.0
pyparsing==2.4.7
pytest-cov==2.11.1
pytest==6.2.2
pywin32-ctypes==0.2.0
readme-renderer==29.0
requests-toolbelt==0.9.1
requests==2.25.1
rfc3986==1.4.0
simpleeval==0.9.11
six==1.15.0
starlette-auth-toolkit==0.5.0
starlette==0.13.6
toml==0.10.2
tqdm==4.58.0
twine==3.3.0
urllib3==1.26.3
uvicorn==0.13.4
wcmatch==8.3
webencodings==0.5.1

# The following packages are considered to be unsafe in a requirements file:
# pip
# setuptools
